
<%= render 'user', book: @book_new, user: @user  %>

<h2>Book detail</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag @user.get_profile_image(80, 80) %><br>
      <%= link_to @user.name, user_path(@user.id) %></td>
      <td><%= link_to @book.title, book_path(@book.id) %></td>
      <td><%= @book.body %></td>
      <% if @user == current_user %>
        <%= link_to "Destroy", book_path(@book), method: :delete %>
      <% end %>
    </tr>
  </tbody>
</table>